#game-board {
  cursor: url("./images/knife.png"), auto;
  border: 3px solid #eeeddd;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #99bffc;
  font-family: 'Dosis', sans-serif;
}

body {
  background-image: url("./images/lemon.jpg");
  cursor: url("./images/knife.png"), auto;
  
}

#button {
  text-align: center;
  text-shadow: 4px 4px 4px rgb(247, 240, 240);  
  cursor: url("./images/knife.png"), auto;
  font-size: 24px;
  font-family: 'Dosis', sans-serif;
  font: bold;
  color: black;
  margin: 20px 0 0 610px;
  background-image: radial-gradient(circle, #ffe6b3, #ffffcc, #f2f0bd, #ebebe0);
  border: 2px solid #dfdec3;
  border-radius: 6px;
  width: 108px;
  height: 50px;
}

p {
  color: black;
  text-align: center;
  font-size: 17px;
  font-family: 'Dosis', sans-serif;
}

h3 {
  color: black;
  text-align: center;
  font-size: 10px;
  font-family: 'Dosis', sans-serif;
}

#myBtn{
  background-image: url("./images/lemon1.jpg");
  background-color: linear-gradient(to left bottom, #dbd4c8, #d5cbbb #c3b193 #b89f7c);
  border: 0px;
  position: relative;
  top: 300px;
  left: 225px;
  border-radius: 12px;
}

/* The Modal (background) */
.modal {
    display: none; 
    position: relative;
    top : 350px;
    left: 60px;
    width: 40%; 
    height: 50%; 

}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    border: 1px solid #888;
    width: 50%;
    border-radius: 15px;
    padding: 5px;

} 


/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: url("./images/knife.png"), auto;
}