#game-board {
  cursor: url("./images/knife.png"), auto;
  border: 3px solid #eeeddd;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #99bffc;
  font-family: 'Dosis', sans-serif;
}

body {
  background-image: url("./images/lemon.jpg");
  cursor: url("./images/knife.png"), auto;
  
}

#button {
  text-align: center;
  text-shadow: 4px 4px 4px rgb(247, 240, 240);  
  cursor: url("./images/knife.png"), auto;
  font-size: 24px;
  font-family: 'Dosis', sans-serif;
  font: bold;
  color: black;
  margin: 20px 0 0 610px;
  background-image: radial-gradient(circle, #ffe6b3, #ffffcc, #f2f0bd, #ebebe0);
  border: 2px solid #dfdec3;
  border-radius: 6px;
  width: 108px;
  height: 50px;
}

p {
  color: black;
  text-align: center;
  font-size: 17px;
  font-family: 'Dosis', sans-serif;
}

h3 {
  color: black;
  text-align: center;
  font-size: 10px;
  font-family: 'Dosis', sans-serif;
}


#myBtn{
  background-image: url("./images/lemon1.jpg");
  background-color: linear-gradient(to left bottom, #dbd4c8, #d5cbbb #c3b193 #b89f7c);
  border: 0px;
  position: relative;
  top: 300px;
  left: 225px;
  border-radius: 12px;
}

/* The Modal (background) */
.modal {
    display: none; 
    position: relative;
    top : 350px;
    left: 60px;
    width: 40%; 
    height: 50%; 

}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    border: 1px solid #888;
    width: 50%;
    border-radius: 15px;
    padding: 5px;

} 

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: url("./images/knife.png"), auto;
}

.popUp{
  background:rgba(0,0,0,.4);
  cursor:pointer;
  display:none;
  height:100%;
  position:fixed;
  text-align:center;
  top:0;
  width:100%;
  z-index:10000;
}
.popUp .helper{
  display:inline-block;
  height:100%;
  vertical-align:middle;
}
.popUp > div {
  background-color: #fff;
  box-shadow: 10px 10px 60px #555;
  display: inline-block;
  height: auto;
  max-width: 551px;
  min-height: 100px;
  vertical-align: middle;
  width: 60%;
  position: relative;
  border-radius: 8px;
  padding: 15px 5%;
}
.popupCloseButton {
  background-color: #fff;
  border: 3px solid #999;
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  font-family: arial;
  font-weight: bold;
  position: absolute;
  top: -20px;
  right: -20px;
  font-size: 25px;
  line-height: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
}
.popupCloseButton:hover {
  background-color: #ccc;
}
.trigger_popup_fricc {
  cursor: pointer;
  font-size: 20px;
  margin: 20px;
  display: inline-block;
  font-weight: bold;
}
/* Popup box BEGIN */